@media (min-width: 641px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  * {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    color: white;
  }

  body {
    overflow: hidden;
  }

  header {
    display: flex;
    justify-content: flex-end;
    min-height: 50px;
    /* background-color: hotpink; */
  }

  .main {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    height: 100vh;
    width: 100vw;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
  }

  .choose-carb-div {
    font-size: 2rem;

    margin-top: 30%;
    width: 500px;
    text-align: center;
  }

  .random-choice-div {
    display: flex;
    flex-direction: column;
    height: 5rem;
    margin: 1rem;
    background-color: black;
    border-radius: 5px;
  }

  .random-choice-div p {
    font-size: 1.3rem;
  }

  .browse-dishes-div {
    display: flex;

    height: 5rem;
    margin: 1rem;
    background-color: black;
    border-radius: 5px;
    font-size: 1.3rem;
  }

  .alldishes-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }

  .link {
    text-decoration: none;
    color: black;
  }

  .link:visited {
    text-decoration: none;
    color: black;
  }

  .add-dish-btn {
    margin-top: 0.5rem;
  }

  .form-toggle-btn {
    align-items: right;
  }

  .dishcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 81, 94, 0.766);
    border-radius: 5px;
    padding: 0.5rem;
  }

  .dishcard:hover {
    background-color: rgba(187, 224, 250, 0.655);
    cursor: pointer;
  }

  .dish-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .dish-info h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .dish-info p {
    font-size: 1rem;
  }

  .dishlist-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 500px;
    width: 600px;
    margin-top: 0.5rem;
    overflow-y: auto;
  }

  @keyframes move-in {
    from {
      right: -20px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }

  .hamburger-nav {
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    border-radius: 5px;
    padding: 0.5rem;
    width: 40%;
    text-align: left;
    animation-name: move-in;
    animation-duration: 0.5s;
    z-index: 3;
  }

  .background-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.724);
    z-index: 2;
    animation-name: move-in;
    animation-duration: 0.5s;
  }

  .edit-icon {
    margin: 0.2rem;
    padding: 0.2rem;

    border-radius: 5px;
    background: none;
    border: none;
  }
  .edit-icon:hover {
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: rgb(67, 172, 67);
    color: white;
    cursor: pointer;
    border: none;
  }

  .delete-icon {
    margin: 0.2rem;
    padding: 0.2rem;
    background: none;

    border-radius: 5px;

    border: none;
  }

  .delete-icon:hover {
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: rgb(234, 49, 49);
    color: white;
    cursor: pointer;
    border: none;
  }

  .dish-details-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 160px 10px;
    margin: 0.3rem;
    background-color: black;
    border-radius: 5px;
    width: 600px;
    height: 260px;
  }

  .dish-title {
    display: flex;
    font-weight: 700;
    grid-row: 1;
    grid-column: 1/3;
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0;
    align-items: flex-start;
    justify-content: left;
  }

  .dish-image img {
    display: flex;

    margin: 0 auto;
    width: 90%;

    max-width: 400px;
  }

  .dish-ingredients ul {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: left;
    gap: 0.3rem;
    list-style: none;
  }

  .dish-ingredients li {
    background-color: rgba(112, 137, 155, 0.885);
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 5px;
  }

  .dish-veggie-marker {
    display: inline-block;
    background-color: rgba(92, 154, 92, 0.741);
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  .dish-carbType {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.3rem;
    border-radius: 5px;

    background-color: rgba(112, 137, 155, 0.885);
  }

  .dish-footer {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    gap: 0.3rem;
    align-items: end;
  }

  .carb-menu-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    gap: 1rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .carb-btn {
    width: 10rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
  }

  .carb-btn:hover {
    width: 10rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgba(187, 224, 250, 0.655);

    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
  }

  .veggie-selector-form {
    margin: 0.5rem;
    background-color: rgba(112, 137, 155, 0.885);
    padding: 0.5rem;
    border-radius: 5px;

    width: 600px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.724);
  }

  .form-modal {
    margin-left: 40px;
    z-index: 2;
  }

  .newdish-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    width: 90%;
    max-width: 450px;

    min-height: 380px;

    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.688);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
  }

  .newdish-form input,
  select,
  textarea {
    font-size: 1rem;
    padding: 0.3rem;
  }

  .newdish-form select,
  textarea {
    width: 100%;
  }

  .newdish-form input,
  select {
    color: black;
  }

  .addDishbtn {
    font-size: 1rem;
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    width: 400px;
    background-color: black;
    border: none;
    border-radius: 5px;
  }

  .addDishbtn:hover {
    font-size: 1rem;
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    width: 400px;
    background-color: rgba(187, 224, 250, 0.655);
    border: none;
    border-radius: 5px;
  }

  .add-dish-btn {
    font-size: 1rem;
    width: 100%;
    padding: 0.3rem;
    margin: 0;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.689);
    border-radius: 5px;
  }
  .add-dish-btn:hover {
    font-size: 1rem;
    width: 100%;
    padding: 0.3rem;
    margin: 0;
    background-color: rgba(187, 224, 250, 0.655);
    border: 1px solid rgba(255, 255, 255, 0.689);
    border-radius: 5px;
  }

  .form-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3rem;
  }

  .form-carbtype {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3rem;
  }

  .update-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.724);
  }

  .update-form-modal {
    margin-left: 40px;
    z-index: 2;
  }

  .update-dish-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 90%;
    max-width: 450px;
    min-height: 380px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.688);
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
  }
  .update-dish-form input,
  select,
  textarea {
    font-size: 1rem;
    color: black;
  }

  .close-form-toggle-btn {
    align-items: right;
    background-color: black;
    border: none;
    border-radius: 5px;
  }

  .home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .tag {
  }

  .home-page-menu {
  }

  .no-dish-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .no-dish-message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    width: 90%;
    max-width: 450px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.688);

    border-radius: 5px;
    font-size: 1rem;
  }

  .loading-modal {
    margin-top: 2rem;
  }
}
